<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить продукт</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/index.css" th:href="@{/css/index.css}"/>
</head>
<body>
    <div th:insert="~{pattern/header :: header}"/>
    <div class="container-fluid">
        <ma class="row">
            <men th:replace="~{pattern/menu :: nav}"/>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <form th:object="${product}" th:method="POST" class="form-group" enctype="multipart/form-data">
                    <h2>Добавление продукта</h2>
                    <div class="form-label" style="color:red" th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"/>
                    <div class="form-label" style="color:red" th:if="${errorName}" th:text="${errorName}"/>
                    <label class="col-md-4 control-label">Название</label>
                    <input class="form-control" type="text" th:field="*{productName}">
                    <label class="form-label">Описание</label>
                    <textarea class="form-control" rows="3" th:field="*{description}"></textarea>
                    <div class="form-label" style="color:red"  th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"></div>
                    <label class="col-md-4 control-label">Цена</label>
                    <input class="form-control" type="text" th:field="*{cost}">
                    <div class="d-block my-3">
                        <div>
                            <select th:field="*{productCategory}" >
                                <option th:each="el : ${categories}"  th:value="${el.name()}" th:text="${el.toString()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-label" style="color:red"  th:if="${errorPicture}" th:text="${errorPicture}"></div>
                    <label class="form-label">Фотография:</label>
                    <input type="file" class="form-control form-control-lg" name="picture" accept="image/*"/><br/>
                    <button class="btn btn-primary btn-lg btn-block" onclick="return confirm('Добавить продукт?')" type="submit">Добавить</button>

                </form>
            </main>
        </ma>
    </div>
    <div th:insert="~{pattern/footer :: footer}"/>
</body>
</html>