<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<fieldset>
    <legend>PRODUCTS</legend>
    <form class="form-group">


        <label class="col-md-4 control-label" for="product_name">Название</label>
        <input id="product_name" class="form-control input-md" type="text">

        <div class="d-block my-3">
            <div class="form-label" style="color:red" th:errors="*{}"></div>
            <div class="custom-control custom-radio">
                <input id="credit" name="paymentMethod" th:field="*{paymentMethod}" value="cardOffline" type="radio" class="custom-control-input" checked="" required="">
                <label class="custom-control-label" for="credit">Картой при получении</label>
            </div>
            <div class="custom-control custom-radio">
                <input id="debit" name="paymentMethod" th:field="*{paymentMethod}" type="radio" value="cash"  class="custom-control-input" required="">
                <label class="custom-control-label" for="debit">Наличные</label>
            </div>
        </div>

    </form>
</fieldset>
</body>
</html>