<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Кухня</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/index.css"/>
</head>
<body>
<div th:insert="~{pattern/header :: header}"/>
<div class="container-fluid">
    <ma class="row">
        <men th:replace="~{pattern/menu :: nav}"/>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div th:each="el : ${orders}">
                <h1 th:text="${el.numberOrder}"/>
                    <label th:each="m : ${el.products}" style="margin-right:20px;" th:text="${m.key.productName.toString()}" th:if="${m.value != statusReady}" /><br/>
                    <a th:each="n : ${el.products}" th:text="${n.value == statusCook} ? 'Завершить заказ' : 'Начать готовку'" th:if="${n.value != statusReady}" th:class="${n.value == statusCook} ? 'btn btn-success' : 'btn btn-warning'" th:href="@{/cook/orders/{id}/{product}(id = ${el.numberOrder}, product = ${n.key.productName.toString()})}" style="margin-right:20px;"/>
                <hr/>
            </div>
        </main>
    </ma>
</div>
<div th:insert="~{pattern/footer :: footer}"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>