<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Окно выдачи</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/index.css"/>
</head>
<body>
<div th:insert="~{pattern/header :: header}"/>
<div class="container-fluid">
    <ma class="row">
        <men th:replace="~{pattern/menu :: nav}"/>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div th:each="el : ${orders}">
                <h1 th:text="${el.numberOrder}"/>
                <label>Позиции: </label>
                <label th:each="m : ${el.products}" style="margin-right:20px;" th:text="${m.key.productName.toString()}"/><br/>
                <a class="btn btn-primary" th:href="@{/delivery/confirm/{id}(id=${el.numberOrder})}" onclick="return confirm('Заказ получен?')">Заказ получен покупателем</a>
                <hr/>
            </div>
        </main>
    </ma>
</div>
<div th:insert="~{pattern/footer :: footer}"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>