<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ваши позиции</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/index.css" th:href="@{/css/index.css}"/>
</head>
<body>
<div th:insert="~{pattern/header :: header}"/>
<div class="container-fluid">
    <ma class="row">
        <men th:replace="~{pattern/menu :: nav}"/>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div th:each="el : ${orders}">
                <hr/>

                <label th:text="${el}"></label>
                <label th:text="${el.value.value}"/><br/>
                <a class="btn btn-success" th:href="@{/cook/orders/{id}/{product}(id = ${el.value.key}, product = ${el.value.value})}" >Позиция готова</a>
                <hr/>
            </div>
        </main>
    </ma>
</div>
<div th:insert="~{pattern/footer :: footer}"/>
</body>
</html>