<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Позиции</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/index.css" th:href="@{/css/index.css}"/>
</head>
<body>
<div th:insert="~{pattern/header :: header}"/>
<div class="container-fluid">
    <ma class="row">
        <men th:replace="~{pattern/menu :: nav}"/>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div>
                <div th:if="${productList}">
                    <a th:if="${settings == null}" th:href="@{/product/settings}" class="btn btn-primary">Удалить</a>
                    <a th:href="@{/product/add}" class="btn btn-primary">Добавить</a>
                    <a th:if="${settings}" th:href="@{/product}" class="btn btn-primary">Вернуться</a>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Фотография</th>
                            <th scope="col">Название</th>
                            <th scope="col">Категория</th>
                            <th scope="col">Описание</th>
                            <th scope="col">Цена</th>
                            <th th:if="${settings}" scope="col">Удалить</th>
                        </tr>
                        </thead>
                        <tbody th:each="el : ${productList}">
                        <tr>
                            <td>
                                <img th:src="@{/img/{filename}(filename = ${el.picturePath})}" alt="Изображение" width="40%" height="20%">
                            </td>
                            <td th:text="${el.productName}"/>
                            <td th:text="${el.productCategory}"/>
                            <td th:text="${el.description}"/>
                            <td th:text="${el.cost}"/>
                            <td th:if="${settings}">
                                <form th:method="POST" th:action="@{/product/delete/{id}(id = ${el.id})}">
                                    <input class="btn btn-danger" type="submit" value="Удалить"/>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </ma>
</div>
<div th:insert="~{pattern/footer :: footer}"/>
</body>
</html>