<!DOCTYPE html>
<header th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <img width="40" height="40" class="me-2" th:src="@{/images/java.png}"/>
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <span class="fs-4">ИС Кафетерий"</span>
        </a>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/login">Авторизация</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/account">Личный кабинет</a>
        </nav>
    </div>
</header>
</html>