<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <h1>Меню</h1>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/logout"><img width="40" height="40" src="/images/person-dash.svg"/> Выйти из аккаунта</a></br>
            </li>
            <li sec:authorize="hasAuthority('ADMIN_ROLE')"  class="nav-item">
                <a class="nav-link active" href="/users"><img width="40" height="40" src="/images/people-fill.svg"/>Пользователи</a></br>
            </li>
            <li sec:authorize="hasAuthority('ADMIN_ROLE')"  class="nav-item">
                <a class="nav-link active" href="/order/statistic"><img width="40" height="40" src="/images/graph-up-arrow.svg"/>Статистика по продажам</a></br>
            </li>
            <li sec:authorize="hasAuthority('ADMIN_ROLE')"  class="nav-item">
                <a class="nav-link active" href="/product"><img width="40" height="40" src="/images/boxes.svg"/>Список продуктов</a></br>
            </li>
            <li sec:authorize="hasAuthority('SELLER_ROLE')"  class="nav-item">
                <a class="nav-link active" href="/order/add"><img width="40" height="40" src="/images/cash-coin.svg"/>Оформить заказ</a></br>
            </li>
            <li sec:authorize="hasAuthority('COOK_ROLE')"  class="nav-item">
                <a class="nav-link active" href="/cook/orders"><img width="40" height="40" src="/images/basket.svg"/>Начать готовку</a></br>
            </li>
            <li sec:authorize="hasAuthority('SELLER_ROLE')"  class="nav-item">
                <a class="nav-link active" href="/delivery"><img width="40" height="40" src="/images/card-checklist.svg"/>Выдача заказов</a></br>
            </li>
        </ul>
    </div>
</nav>
</html>